<section class="journal-layout__categories">

    <div class="grid-container grid-container--categories">

        <div class="grid-x grid-margin-x align-center">

            <div class="cell shrink">
                <span class="post-category active" data-category="">
                    {% autoescape %}
                        All Posts <span class="slash">/</span>
                    {% endautoescape %}
                </span>
            </div>

            {% for cat in categories %}
                {# <li {% if term.slug == cat.slug %}class="active"{% endif %}>
                    <a href="{{blog.link}}category/{{cat.slug}}">
                        {{cat.name}}
                    </a>
                </li> #}
                <div class="cell shrink">
                    <span class="post-category" data-category="{{ cat.term_id }}" data-directory="{{ theme.link }}">
                        {{ cat.name }} {% if not loop.last %}<span class="slash">/</span>{% endif %}
                    </span>
                </div>
            {% endfor %}
            
        </div>

    </div>

</section>