<section class="home-layout__posts">

    <div class="grid-container">
        
        <div id="posts-entered" class="grid-x grid-margin-x" data-js="posts-container">

            
                
            {% for post in LATEST_POSTS %}
                
                {% include 'blocks/content-post.twig' %}

            {% endfor %}
            
        

        </div>

    </div>

</section>