<section class="grid-container home-layout__slider">

    <div class="grid-x grid-margin-x">

        <div class="cell">

            <div class="owl-carousel owl-theme" data-js="featured-slider">

                {% set FEATURED_SLIDES = post.get_field('slides_journal') %}
                {% for slide in FEATURED_SLIDES %}
                    <div class="item">
                        {% set POST_TYPE = slide.post_type %}
                        {% set TITLE = slide.title %}
                        {% set LINK = slide.link %}
                        {% set IMAGE_FULL = TimberImage(slide.get_field('slider_image')) %}
                        
                        
                        <a class="link-img" href="{{ LINK }}">
                            <img class="slider-img" src="{{ IMAGE_FULL.src }}" alt="{{ IMAGE_FULL.alt }}">
                        </a>
                        <div class="content content-preview">
                            
                            <img class="arrow" src="{{ theme.link }}/public/images/right-up-arrow.png" alt="{% autoescape %}right arrow{% endautoescape %}">
                            {# get the first taxonmy the post has #}
                            <span class="taxonomy">
                                {{ slide.terms('category') | first }}
                            </span>

                            <h2 class="title">
                                <a href="{{ LINK }}">
                                    {{ TITLE }}
                                </a>
                            </h2>

                        </div>
                        
                    </div>
                {% endfor %}

            </div>

        </div>

    </div>

</section>