<div class="grid-x">

    <ul class="instagram-list">
        
        {% for insta in fancySquaresInstagram %}

            <li class="instagram-list__item">
                    <a href="{{insta['url']}}" class="instagram-list__likes" target="_blank">
                        <span class="wrap">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span class="count">
                            {{insta['likes']}}
                            
                        </span>
                    </span>
                    </a>
                    <img src="{{insta['image']}}">
                </li>

        {% endfor %} 

    </ul>
</div>