{% set IMAGE = TimberImage(recipe.get_field('featured_image_acf')) %}

<div class="cell small-12 medium-4 cell--post-preview">

    <a class="link-img" href="{{ recipe.link }}">
        <img src="{{ IMAGE.src | resize(340,300) }}" alt="{{ IMAGE.alt }}">
    </a>

    <div class="content">
        
        <h2 class="title" data-equalizer-watch="recipe">
            <a href="{{ recipe.link }}">
                {{ recipe.title }}
            </a>
        </h2>

        <p class="total-time">
            {% autoescape %}
                cook / prep
            {% endautoescape %} {{ recipe.cook_prep_total }}
        </p>
    </div>
    
</div>