{% set HIGHLIGHTS_LIST = post.get_field('highlights_list') %}
{% set DESCRIPTION_COPY = post.content_intro %}
{% set FF_LIST = post.get_field('list_ff') %}

<section class="description-section grid-container">


    <div class="grid-x grid-margin-x">

        {% if HIGHLIGHTS_LIST %}

            <div class="cell cell--highlights medium-6">

                <div class="background">
                
                    <h2 class="highlights-title">
                        {% autoescape %}
                            Functional Foods Highlight
                        {% endautoescape %}
                    </h2>

                    <div class="owl-carousel owl-theme" data-js="highlights-slider">
                        {% for HIGHLIGHT in HIGHLIGHTS_LIST %}
                            <div class="item">
                                {{ HIGHLIGHT.content }}
                            </div>
                        {% endfor %}
                    </div>

                </div>

            </div>

        {% endif %}        
       
       
        <div class="cell cell--description {% if HIGHLIGHTS_LIST %}medium-6{% endif %}">
            <p class="description">
                {{ DESCRIPTION_COPY }}
            </p>

            <h2 class="ff-title">
                {% autoescape %}
                    Food Farmacy 
                {% endautoescape %}
            </h2>

            <ul class="ff-list">
                {% for item in FF_LIST %}
                    <li>
                        {{ item.item }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    
    </div>

</section>