{% set DIRECTION_LEFT = post.get_field('content_left_directions') %}
{% set DIRECTION_RIGHT = post.get_field('content_right_directions') %}

<section class="directions-section grid-container">

    <div class="grid-x grid-margin-x">
        
        <div class="cell">
            <h2 class="directions-title">
                {% autoescape %}
                    Directions
                {% endautoescape %}
            </h2>
        </div>
        
        <div class="cell cell--directions medium-6">
            {{ DIRECTION_LEFT }}
        </div>
        
        <div class="cell cell--directions medium-6">
            {{ DIRECTION_RIGHT }}
        </div>

        <div class="cell cell--print">
            <button class="button" data-js="print">
                {% autoescape %}
                    Print Recipe
                {% endautoescape %}
            </button>
        </div>

    </div>

</section>