{% set X_CONTENT_LEFT = post.get_field('content_left_extra') %}
{% set X_CONTENT_RIGHT = post.get_field('content_right_extra') %}

{% if X_CONTENT_LEFT %}

    <section class="extra-content grid-container">
        <div class="grid-x grid-margin-x">

            <div class="cell medium-6">
                {{ X_CONTENT_LEFT }}
            </div>
            <div class="cell medium-6">
                {{ X_CONTENT_RIGHT }}
            </div>

        </div>
    </section>

{% endif %}
