{% set SECOND_GALLERY = post.get_field('images_options_b') %}

{% if SECOND_GALLERY %}

    <section class="gallery gallery--two grid-container">

        <div glass="grid-x grid-margin-x">

            {% for GALLERY_OPTION in SECOND_GALLERY %}

                {% if GALLERY_OPTION.acf_fc_layout == 'full_width' %}
                    {% set IMG = TimberImage(GALLERY_OPTION.image) %}
                    <div class="cell cell image-block">
                        <img src="{{ IMG.src }}" alt="{{ IMG.alt }}">
                    </div>

                {% elseif GALLERY_OPTION.acf_fc_layout == 'basic_centered_image' %}
                    {% set IMG = TimberImage(GALLERY_OPTION.image) %}
                    <div class="cell text-center image-block">
                        <img src="{{ IMG.src }}" alt="{{ IMG.alt }}">
                    </div>

                {% elseif GALLERY_OPTION.acf_fc_layout == 'left_right_b' %}
                    {% set IMG_LEFT = TimberImage(GALLERY_OPTION.image_left_b) %}
                    {% set IMG_RIGHT = TimberImage(GALLERY_OPTION.image_right_b) %}

                    <div class="grid-container grid-container--short">
                    
                        <div class="grid-x grid-x--fullwidth grid-margin-x image-block">
                            <div class="cell small-6">
                                <img src="{{ IMG_LEFT.src }}" alt="{{ IMG_LEFT.alt }}">
                            </div>
                            <div class="cell small-6">
                                <img src="{{ IMG_RIGHT.src }}" alt="{{ IMG_RIGHT.alt }}">
                            </div>
                        </div>
                    
                    </div>

                {% endif %}

            {% endfor %}

        </div>

    </section>
    
{% endif %}
