{% set INTRO_IMG = TimberImage(post.get_field('featured_image_acf')) %}
{% set PAGE_TITLE = post.title %}
{% set PREP_TIME = post.prep_length %}
{% set COOK_TIME = post.cook_time_length %}
{% set SERVES = post.serves_length %}
<section class="intro-section grid-container">

    <div class="grid-x grid-margin-x align-middle">

        <div class="cell medium-6 small-order-1 medium-order-2">

            <h1 class="page-title">
                {{ PAGE_TITLE }}
            </h1>

            <ul class="time-summary">
                <li>
                    <span>
                        {% autoescape %}
                            PREP
                        {% endautoescape %}
                    </span>
                    {{ PREP_TIME }}
                </li>
                <li>
                    <span>
                        {% autoescape %}
                            COOK TIME
                        {% endautoescape %}
                    </span>
                    {{ COOK_TIME }}
                </li>
                <li>
                    <span>
                        {% autoescape %}
                            SERVES
                        {% endautoescape %}
                    </span>
                    {{ SERVES }}
                </li>
            </ul>

        </div>

        <div class="cell medium-6 small-order-2 medium-order-1">
            <img src="{{ INTRO_IMG.src }}" alt="{{ INTRO_IMG.alt }}">
        </div>


    </div>

</section>