{% set INTRO_IMG = TimberImage(post.get_field('featured_image_acf')) %}
{% set PAGE_TITLE = post.title %}
{% set PREP_TIME = post.prep_length %}
{% set COOK_TIME = post.cook_time_length %}
{% set SERVES = post.serves_length %}
{% set FF_LIST = post.get_field('list_ff') %}
{% set DESCRIPTION_COPY = post.content_intro %}
{% set PRINT_DIRECTIONS = post.get_field('basic_directions') %}

<table class="print-recipe-layout">
    <thead>
        <tr>
            <th width="50%"></th>
            <th width="50%"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <h2 class="title">
                    {{ PAGE_TITLE }}
                </h2>

                <ul class="time-summary">
                    <li>
                        <span>
                            {% autoescape %}
                                PREP
                            {% endautoescape %}
                        </span>
                        {{ PREP_TIME }}
                    </li>
                    <li>
                        <span>
                            {% autoescape %}
                                COOK TIME
                            {% endautoescape %}
                        </span>
                        {{ COOK_TIME }}
                    </li>
                    <li>
                        <span>
                            {% autoescape %}
                                SERVES
                            {% endautoescape %}
                        </span>
                        {{ SERVES }}
                    </li>
                </ul> 
                <br/>
                <br/>
                
                <h2 class="sub-title">
                    {% autoescape %}
                        Food Farmacy 
                    {% endautoescape %}
                </h2>

                <ul class="ff-list">
                    {% for item in FF_LIST %}
                        <li>
                            {{ item.item }}
                        </li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <img src="{{ INTRO_IMG.src }}" alt="{{ INTRO_IMG.alt }}">
                <br/>
                <br/>
                <div class="gray-box">
                    <p class="description">
                        {{ DESCRIPTION_COPY }}
                    </p>
                </div>
            </td>
        </tr>

        <tr class="top-border">
            <td>
                <h2 class="sub-title">
                    {% autoescape %}
                        Directions
                    {% endautoescape %}
                </h2>
            </td>
            <td></td>
        </tr>

        <tr>
            {% for td in PRINT_DIRECTIONS|batch(8) %}
                <td>
                    <ul class="ff-list">
                        {% for item in td %}
                            <li>{{ item.step }}</li>
                        {% endfor %}
                    </ul>
                </td>
            {% endfor %}
        </tr>
    </tbody>
</table>