{% set SOURCE_CONTENT = post.get_field('content_sources') %}

<section class="source-misc grid-container">

    <div class="grid-x grid-margin-x">

        <div class="cell cell--share">
            <div class="grid-x grid-margin-x">

                <div class="cell small-6">
                    {% filter shortcodes %}
                        [addtoany]
                    {% endfilter %}
                </div>
                <div class="cell small-6 text-right">
                    <span class="comment-hint">
                        {% autoescape %}
                            Leave A Comment
                        {% endautoescape %}
                    </span>
                </div>

            </div>
        </div>

        <div class="cell cell--sources">
            <span class="sources-title">
                {% autoescape %}
                    Sources
                {% endautoescape %}
            </span>{{ SOURCE_CONTENT }}
        </div>

    </div>

</section>