{% set CONTENT_TOP_IMG = TimberImage(post.get_field('top_image')) %}
{% set CONTENT_BLOCKS = post.get_field('content_details') %}

<section class="about-layout__content">

    <div class="grid-container grid-container--content">

        <div class="grid-x grid-margin-x">

            <div class="cell">
                <img src="{{ CONTENT_TOP_IMG.src }}" alt="">
            </div>

        </div>


    </div>

    {% for CONTENT_BLOCK in CONTENT_BLOCKS %}
        
        {% set COPY = CONTENT_BLOCK.content %}
        {% set IMG = TimberImage(CONTENT_BLOCK.image_left) %}

        <div class="grid-container grid-container--content">
            <div class="grid-x grid-margin-x align-justify">

                <div class="cell medium-6">
                    <img src="{{ IMG.src }}" alt="">
                </div>

                <div class="cell cell--last medium-6">
                    {{ COPY }}
                </div>

            </div>
        </div>

    {% endfor %}

</section>