{% set INTRO_TITLE = post.title_intro %}
{% set INTRO_IMG = TimberImage(post.get_field('image_intro')) %}
{% set INTRO_COPY = post.copy_intro %}

<section class="about-layout__intro">

    <div class="grid-container grid-container--intro">
        
        <div class="grid-x grid-x--intro-top grid-margin-x text-center">

            <div class="cell">
                
                <span>
                    {% autoescape %}
                        About
                    {% endautoescape %}
                </span>

                <h1>
                    {{ INTRO_TITLE }}
                </h1>

            </div>

            <div class="cell">
                <img src="{{ INTRO_IMG.src }}" alt="{{ INTRO_TITLE }}">
            </div>
    
        </div>

    </div>

    <div class="grid-container grid-container--content">

        <div class="grid-x grid-x--intro-bottom grid-margin-x">

            <div class="cell medium-3">
                
                <h2>
                    {% autoescape %}
                        About Us –
                    {% endautoescape %}
                </h2>

            </div>

            <div class="cell medium-9">
                {{ INTRO_COPY }}
            </div>
    
        </div>

    </div>

</section>