{% extends "base.twig" %}

{% block pageClass %}about-layout{% endblock %}

{% block content %}


    {% for post in posts %}

        {# intro #}
        {% include 'partials/about/intro.twig' %}
        
        {# content #}
        {% include 'partials/about/content.twig' %}

        {# popular recipes #}
        {% include 'partials/home/popular-recipes.twig' %}
    
    {% endfor %}


{% endblock %}