{% extends "templates/base.twig" %}

{% block pageClass %}home-layout{% endblock %}

{% block content %}

    {% for post in posts %}
        
        {# slider #}
        {% include 'partials/home/slider.twig' %}

        {# intro #}
        {% include 'partials/home/intro.twig' %}

        {# recipes #}
        {% include 'partials/home/popular-recipes.twig' %}

        {# featured location / locations #}
        {% include 'partials/home/locations.twig' %}

        {# latest posts #}
        {% include 'partials/home/latest-posts.twig' %}

        {# featured recipe #}
        {% include 'partials/home/featured-recipe.twig' %}

        {# latest recipes #}
        {% include 'partials/home/latest-recipes.twig' %}
        

    {% endfor %}

{% endblock %}