{% extends "templates/base.twig" %}

{% block pageClass %}journal-layout{% endblock %}

{% block content %}

    {% for post in posts %}
        
        {# slider #}
        {% include 'partials/journal/slider.twig' %}
        
        {# categories #}
        {% include 'partials/journal/categories.twig' %}

        {# latest posts #}
        {% include 'partials/journal/initial-posts.twig' %}
        

        <section class="journal-layout__more text-center">
			<button id="data-parameters" class="button-type button-type--more ladda-button" data-style="expand-right" data-action="more_all_posts" data-posts_per_page="10" data-directory="{{ theme.link }}">
				{% autoescape %}
					Load More
				{% endautoescape %}
			</button>
			
		</section>

    {% endfor %}

{% endblock %}