{% extends "templates/base.twig" %}

{% block pageClass %}filtered-layout filtered-layout--locations{% endblock %}

{% block content %}

    {% for post in posts %}
        {% set FEATURED_RESTAURANT = post.get_field('featured_restaurant') %}

        <div class="grid-container grid-container--guide-results">

            <div class="grid-x grid-margin-x grid-x--outer align-justify">

                <div class="cell medium-3 cell--filter">
                    <img class="page-icon show-for-medium" src="{{ theme.link }}/public/images/restuarant-guide-icon.png" alt="Resturant Guide Page Icon">


                    <ul class="accordion" data-accordion data-allow-all-closed="true">

                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="filter-type accordion-title">Regions</a>
                            <div class="accordion-content" data-tab-content>
                                <ul class="filter-options" data-js="get-by-region">
                                    {% for item in REGION_TERMS %}
                                        <li class="" data-slug="{{ item.slug }}" data-js="get-region">
                                            <span>{{ item.name }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>

                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="filter-type accordion-title">Food Type</a>
                            <div class="accordion-content" data-tab-content>
                                <ul class="filter-options" data-js="get-by-diet">
                                    {% for item in DIET_TERMS %}
                                        <li class="" data-slug="{{ item.slug }}" data-js="get-diet">
                                            <span>{{ item.name }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>

                            </div>
                        </li>

                    </ul>

                    

                    <button data-js="clear-results">
                        {% autoescape %}
                            x clear filters
                        {% endautoescape %}
                    </button>
                
                </div>

                <div class="cell medium-9">

                    <div class="grid-x grid-x--featured-location grid-margin-x grid-x--fullwidth" data-js="fade-toggle">
                        {% if FEATURED_RESTAURANT is not empty %}
                            <div class="cell cell--featured-location">
                                {% for RESTAURANT in FEATURED_RESTAURANT %}
                                    {% set FEATURED_IMG = TimberImage(RESTAURANT.get_field('featured_image_top')) %}
                                    {% set LINK = RESTAURANT.link %}

                                    <div class="grid-x grid-margin-x grid-x--fullwidth align-middle">

                                        <div class="cell medium-8">
                                            <a href="{{ LINK }}">
                                                <img src="{{ FEATURED_IMG.src }}" alt="">
                                            </a>
                                        </div>
                                        <div class="cell medium-4">
                                            <h2 class="featured-title">
                                                <a href="{{ LINK }}">
                                                    {{ RESTAURANT.title }}
                                                </a>
                                            </h2>

                                            <ul class="diet-types">
                                                {% for term in RESTAURANT.terms('diet_type') %}
                                                    <li>
                                                        {{ term.name }}{% if not loop.last %},{% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>

                                            <p class="featured-description">
                                                {{ RESTAURANT.preview.read_more('<br/><span>Read More ></span>') }}
                                            </p>
                                        </div>
                                    </div>

                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    {# start vue #}
                    <div id="app" class="grid-x grid-margin-x grid-x--fullwidth">
                        {# loading #}
                        {# <div class="cell" :class="{'is-loading': isLoading}"></div> #}

                        {# loaded posts #}
                        <div class="cell cell--preview-post small-6 medium-4" v-for="post in posts">
                            

                            <a class="post-img-link" :href="post.link"  target="_blank">
                                <img :src="post.vue_image" :alt="post.title.rendered">
                            </a>

                            <h2 class="post-title is-3">
                                <a :href="post.link"  target="_blank" v-html="post.title.rendered"></a>
                            </h2>

                            <div class="post-description" v-html="post.excerpt.rendered"></div>

                        </div>

                        {# load more #}

                        <div class="cell cell--load-more">
                            <button id="load-more" :class="{'hide': hasMorePages}">
                                {% autoescape %}
                                    Load More
                                {% endautoescape %}
                            </button>
                        </div>
                        
                    </div>
                    {# end vue #}

                </div>

            </div>

        </div>


    {% endfor %}

{% endblock %}