{% extends "base.twig" %}

{% block pageClass %}search-layout{% endblock %}
{% block content %}

    {% set POST_COUNT = posts | length %}

    {% if POST_COUNT == 0 %}
        <section class="search-layout__no-results">
            <div class="grid-container">
                <div class="grid-x grid-margin-x">
                    <div class="cell">
      
                            {{ __('Sorry, no results were found.', 'sage') }}
                            {{ function('get_search_form') }}
 
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <section class="search-layout__results">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                {% for post in posts %}
                    {% include "templates/blocks/content.twig" with {post: post}  %}
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="search-layout__more">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                {{ function('the_posts_navigation') }}
            </div>
        </div>
    </section>


{% endblock %}