{% extends "base.twig" %}

{% block pageClass %}single-layout single-layout--recipe{% endblock %}

{% block content %}


    {% for post in posts %}

        {# intro #}
        {% include 'partials/single/recipes/intro.twig' %}

        {# description #}
        {% include 'partials/single/recipes/description.twig' %}

        {# gallery one #}
        {% include 'partials/single/recipes/gallery-one.twig' %}

        {# directions #}
        {% include 'partials/single/recipes/directions.twig' %}

        {# gallery two #}
        {% include 'partials/single/recipes/gallery-two.twig' %}

        {# extra content #}
        {% include 'partials/single/recipes/extra-content.twig' %}

        {# source #}
        {% include 'partials/single/recipes/source-misc.twig' %}

        {# previous and next #}
        {% include 'partials/single/prev-next.twig' %}

        {# comments #}
        <section class="single-layout__comments grid-container grid-container--comments">
            <div class="grid-x grid-margin-x">
                <div class="cell cell--comment-form">
                    {% include "blocks/comment-form.twig" %}
                </div>
                <div class="cell cell--comments">
                    {% include "blocks/comment.twig" %}
                </div>
            </div>
        </section>


        {# recipes #}
        {% include 'partials/home/popular-recipes.twig' %}

        {# print #}
        {% include 'partials/single/recipes/print.twig' %}

    {% endfor %}

{% endblock %}