{% extends "base.twig" %}

{% block pageClass %}single-layout single-layout--post{% endblock %}

{% block content %}


    {% for post in posts %}

        {# header #}
        {% include "partials/single/posts/header.twig" %}

        {# contact types #}
        {% include "partials/single/posts/content-modules.twig" %}

        {# contact misc #}
        {% include "partials/single/posts/misc.twig" %}

        {# contact prev next #}
        {% include "partials/single/prev-next.twig" %}

        {# contact prev next #}
        {% include "partials/single/posts/related-content.twig" %}

        {# comments #}
        <section class="single-layout__comments grid-container grid-container--comments">
            <div class="grid-x grid-margin-x">
                <div class="cell cell--comment-form">
                    {% include "blocks/comment-form.twig" %}
                </div>
                <div class="cell cell--comments">
                    {% include "blocks/comment.twig" %}
                </div>
            </div>
        </section>

        {# contact prev next #}
        {% include "partials/single/posts/popular-recipes.twig" %}
        
    
    {% endfor %}


{% endblock %}