{% extends "base.twig" %}

{% block pageClass %}single-layout single-layout--location{% endblock %}

{% block content %}


    {% for post in posts %}
        {% set ADDRESS = post.map_location | first %}
        {% set TAXONOMY = post.terms('diet_type') %}
        {% set FEATURED_IMG = TimberImage(post.get_field('featured_image_top')) %}
        {% set INTRO = post.get_field('intro_content') %}
        {% set CONTENT_TYPES = post.get_field('content_types_content') %}
    

        <article {{ function('post_class', 'grid-container grid-container--single grid-container--single-location') }}>
            
            {% include 'partials/single/locations/header.twig' %}

            <div class="grid-x grid-margin-x grid-x--entry-content align-center">

                {% include 'partials/single/locations/featured-and-intro.twig' %}
                

                {% for CONTENT in CONTENT_TYPES %}

                    {% if CONTENT.acf_fc_layout == 'images_block' %}

                        <div class="cell cell--images medium-10 large-9">
                            <ul class="img-list">
                                {% for image in CONTENT.images %}
                                    {% set IMG = TimberImage(image.image) %}
                                    <li class="pin-it">
                                        <img src="{{ IMG.src }}" alt="{{ IMG.alt }}">
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                    {% elseif CONTENT.acf_fc_layout == 'content_block' %}
                        {% set BASIC_CONTENT = CONTENT.content %}
                        <div class="cell cell--basic-content cell--content-block medium-10 large-9">
                            {{ BASIC_CONTENT }}
                        </div>

                    {% elseif CONTENT.acf_fc_layout == 'content_left_image_right' %}
                        {% set CONTENT_LEFT = CONTENT.content %}
                        {% set IMG_RIGHT = TimberImage(CONTENT.image) %}

                        <div class="grid-x grid-x--nested grid-margin-x content-left-image-right">

                            <div class="cell cell--basic-content small-12 medium-6">
                                {{ CONTENT_LEFT }}
                            </div>

                            <div class="cell cell--bg-img small-12 medium-6" style="background-image:url({{ IMG_RIGHT }});">
                            </div>

                        </div>

                    {% endif %}

                {% endfor %}
            </div>

        </article>

        {# previous and next #}
        {% include 'partials/single/prev-next.twig' %}


    {% endfor %}
{% endblock %}