{% set newer_post = function('get_next_post') %}
{% set older_post = function('get_previous_post') %}

{% if post.post_type == 'db_recipe' %}
    
    {% set newerPostImage = function('get_field','featured_image_acf', newer_post, 'cat-med') %}
    {% set olderPostImage = function('get_field','featured_image_acf', older_post) %}
    {% set MOD_CLASS = 'single-layout__pagination--recipe' %}
    {% set PAGINATION_CLASS = 'pagination-link--recipe' %}

{% elseif post.post_type == 'db_location' %}
    
    {% set newerPostImage = function('get_field','featured_image_top', newer_post, 'cat-med') %}
    {% set olderPostImage = function('get_field','featured_image_top', older_post) %}
    {% set MOD_CLASS = 'single-layout__pagination--location' %}
    {% set PAGINATION_CLASS = '' %}

{% else %}

    {% set newerPostImage = function('get_field','image_preview', newer_post, 'cat-med') %}
    {% set olderPostImage = function('get_field','image_preview', older_post) %}
    {% set MOD_CLASS = 'single-layout__pagination--post' %}
    {% set PAGINATION_CLASS = 'pagination-link--recipe' %}

{% endif %}




<section class="single-layout__pagination {{ MOD_CLASS }}">

   

        <div class="grid-x grid-margin-x align-justify">

            <div class="cell shrink prev">

                {# previous #}
                {% if newer_post  %}

                    {% set newerTitle = function('get_the_title', newer_post) %}
                    <a class="pagination-link {{ PAGINATION_CLASS }} grid-x grid-x--fullwidth" href="{{function('get_permalink', newer_post)}}" >

                            <span class="cell small-5 show-for-large">
                                <img class="pagination-img" src="{{ TimberImage(newerPostImage).src | resize(300,300) }}" alt="{{ olderTitle }}">
                            </span>

                            <span class="cell cell--post-title large-7">
                                <span class="basic-title">
                                    {% autoescape %}
                                        Previous
                                    {% endautoescape %}
                                </span>
                                <span class="title">
                                     {{ newerTitle | truncate(6) }}
                                </span>
                            </span>
                            
                    </a>
            
            
                {% endif %}
            </div>

            {# next #}
            <div class="cell shrink next text-right">

                {% if older_post  %}
                        
                        {% set olderTitle = function('get_the_title', older_post) %}

                        <a href="{{function('get_permalink', older_post)}}" class="pagination-link {{ PAGINATION_CLASS }} grid-x grid-x--fullwidth">

                            <span class="cell cell--post-title large-7">
                                <span class="basic-title">
                                    {% autoescape %}
                                        Next
                                    {% endautoescape %}
                                </span>
                                <span class="title">
                                     {{ olderTitle | truncate(6) }}
                                </span>
                            </span>

                            <span class="cell small-5 show-for-large">
                                <img class="pagination-img" src="{{ TimberImage(olderPostImage).src | resize(300,300) }}" alt="{{ olderTitle }}">
                            </span>

                        </a>
            
            
                {% endif %}
            </div>
        
        </div>

 
 </section>