.about-layout {
    padding-bottom: 75px;
    padding-top: 125px;
    @include breakpoint(medium){
        padding-top: 175px;
    }
    h1 {
        @extend %font-h1;
        margin-top: 25px;
        margin-bottom: 50px;
    }
    h2 {
        @extend %font-h2;
        margin-bottom: 30px;
        &.with-dash {
            &:after {
                content:'';
                width: 15px;
                height: 1px;
                background-color: gray;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

    span {
        @extend %font-meta-title;
    }

    .grid-container {
        &--intro {
            max-width: 1030;
            margin-bottom: 75px;
        }

        &--content {
            max-width: 840px;
            margin-bottom: 50px;
        }
    }
    .home-layout__popular-recipes .grid-container {
        max-width: 840px;
    }

    .cell {
        &--last {
            @include breakpoint(small only){
                padding-top: 30px;
            }
            @include breakpoint(medium){
                padding-left: 50px;
            }
        }
    }

    blockquote {
        border-top: 1px solid $black;
        border-left: none;
        padding: 15px 0 0;
        p {
            @extend %font-block-quote;
        }
    }

    &__content {
        margin-bottom: 225px;
    }
}