.filtered-layout {

    .grid-container {

        &--guide-results {
            padding-top: 125px;
            padding-bottom: 125px;
            max-width: 1030px;
            @include breakpoint(medium){
                padding-top: 200px;
                padding-bottom: 200px;
            }
        }
    }

    .page-icon {
        margin-bottom: 75px;
        &--small {
            width: 100%;
            max-width: 100px;
        }
    }
    .filter-type {
        @extend %font-meta-title-large;
        border-bottom: 1px solid $black !important;
        border-left: none;
        border-right: none;
        border-top: none;
        width: 100%;
        max-width: 150px;
        padding: 5px 15px 5px 0;
        color: $black;
        &:before {
            margin-right: -15px;
            @include breakpoint(medium){
                display: none;
            }
        }
    }
    .accordion {
        background: none;
    }
    .accordion-content {
        border: none !important;
        background: none;
        padding: 0;
        @include breakpoint(medium){
            display: block !important;
        }
    }
    .accordion-item {
        @include breakpoint(small only){
            margin-bottom: 25px;
        }
    }
    .filter-options {
        margin-left: 0;
        margin-bottom: 75px;
        @include breakpoint(small only){
            margin-bottom: 0;
        }
        &:after {
            content:'';
            display: block;
            clear: both;
        }
        li {
            list-style: none;
            text-transform: uppercase;
            font-size: rem-calc(10);
            letter-spacing: 2px;
            line-height: 21px;
            margin-top: 15px;
            cursor: pointer;
            @include breakpoint(small only){
                width: 50%;
                float: left;
            }
            &:nth-child(2n+1){
                clear: left;
            }
            &:before {
                border: 1px solid $black;
                content:'';
                height: 10px;
                width: 10px;
                margin-right: 5px;
                background-color: transparent;
                transition: background-color .25s ease-out;
            }
            &:hover,
            &.checked {
                &:before {
                    @include breakpoint(medium){
                        background-color: $black;
                    }
                }
            }
            &.checked {
                &:before {
                    @include breakpoint(small only){
                        background-color: $black;
                    }
                }
            }
            span,
            &:before {
                display: inline-block;
                vertical-align: middle
            }
        }
    }

    .cell {
        &--filter {
            @include breakpoint(small only){
                margin-bottom: 30px;
            }
            button {
                @include link-transition;
                @extend %font-meta-title-large;
                cursor: pointer;
                &:hover {
                    color: $dark-green;
                }
            }
        }

        &--preview-post {
            text-align: center;
            margin-bottom: 30px;
        }

        &--load-more {
            padding-top: 75px;
            text-align: center;
        }

        &--featured-location {
            margin-bottom: 50px;
        }
    }

    .featured-title {
        line-height: 0;
        margin-bottom: 45px;
        a {
            @extend %font-h2;
            color: $dark-green;
        }
    }
    
    .featured-description {
        @extend %font-excerpt;
        a {
            display: block;
            text-align: right;
        }
    }

    .diet-types {
        margin: 0 0 15px;
        li {
            font-size: rem-calc(10);
            letter-spacing: 2px;
            list-style: none;
            display: inline-block;
            text-transform: uppercase;
        }
    }

    .post-img-link {
        display: block;
        margin-bottom: 20px;
        transition: opacity .25s ease-out;
        &:hover {
            opacity: .65;
        }
    }
    
    .post-title {
        line-height: 0;
        a {
            @extend %font-preview-title;
            color: $dark-green;
        }
    }

    .post-description {
        p {
            @extend %font-excerpt;
        }
    }

    #load-more {
        @include link-transition;
        @extend %font-meta-title-large;
        text-decoration: underline;
        cursor: pointer;
        &:hover {
            color: $dark-green;
        }
    }
}