.home-layout {
    // featured slider
    &__slider {
        max-width: 1005px;
        margin-bottom: 30px;
        @include breakpoint(small only){
            margin-top: 80px;
        }
        @include breakpoint(medium){
            margin-bottom: 65px;
        }
        .item {
            position: relative;
        }
        .slider-img {
            position: relative;
            z-index: 0;
        }
        .content {
            @include breakpoint(small only){
                padding: 20px 0
            }
            @include breakpoint(medium){
                position: absolute;
                left: 45px;
                bottom: 45px;
                margin: 0;

            }
        }
    }

    // intro
    &__intro {
        text-align: center;
        margin-bottom: 50px;
        @include breakpoint(medium){
            margin-bottom: 75px;
        }
        @include breakpoint(large){
            margin-bottom: 100px;
        }
        .grid-container {
            max-width: 625px;
        }

        .cell {
            &:after {
                background-color: $black;
                clear: both;
                content: '';
                width: 2px;
                height: 90px;
                margin: 0 auto;
                display: block;
            }
        }
        .title {
            @extend %font-h1;
            margin-bottom: 30px;
            @include breakpoint(medium){
                margin-bottom: 45px;
            }
        }

        .description {
            @extend %font-big-copy;
            margin-bottom: 30px;
            @include breakpoint(large){
                margin-bottom: 50px;
            }
        }

        .page-link {
            @extend %font-link;
            display: inline-block;
            margin-bottom: 30px;
            @include breakpoint(large){
                margin-bottom: 50px;
            }
        }
    }

    // popular recipes
    &__popular-recipes,
    &__latest-recipes {
        margin-bottom: 50px;
        text-align: center;
        @include breakpoint(medium){
            margin-bottom: 75px;
        }
        @include breakpoint(large){
            margin-bottom: 100px;
        }
        .grid-container {
            max-width: 860px;
            &--latest {
                margin-bottom: 75px;
            }
            &--more {
                padding-bottom: 50px;
            }
        }

        .cell {
            &--title {
                padding-bottom: 30px;
            }
        }

        .section-title {
            @extend %font-meta-title;
        }
        
        .page-link {
            @extend %font-meta-title;
            text-decoration: underline;
        }
        
    }

    // locations
    &__locations {
        background-color: $light-tan;
        padding: 150px 0;
        margin-bottom: 50px;
        @include breakpoint(medium){
            margin-bottom: 100px;
        }
        @include breakpoint(large){
            margin-bottom: 150px;
        }
        .intro {
            text-align: center;
            margin-bottom: 40px;
        }
        h2,h3 {
            color: $dark-green;
        }
        .sub-title {
            @extend %font-meta-title-large;
        }
        .title {
            @extend %font-massive;
            text-align: center;
            margin-bottom: 75px;
            a {
                color: $dark-green;
                &:hover {
                    color: $black;
                }
            }
        }
        .address {
            .fa,span {
                display: inline-block;
                vertical-align: middle
            }
            .fa {
                font-size: 50px;
            }
            span {
                text-decoration: underline;
                max-width: 80%;
                margin-left: 5%;
            }
            a {
                color: $dark-green;
                &:hover {
                    color: $black;
                }
            }
        }
        .grid-container {
            &--meta,
            &--preview {
                width: 100%;
            }
            &--meta {
                margin-bottom: 65px;
                p {
                    @extend %font-meta-title-large;
                    color: $dark-green;
                    line-height: rem-calc(22);
                }
            }
            &--preview {
                margin-bottom: 50px;
                @include breakpoint(medium){
                    margin-bottom: 100px;
                }
                @include breakpoint(large){
                    margin-bottom: 150px;
                }
            }
            &--post,
            &--locations {
                max-width: 830px;
            }
        }
        .content {
            margin-top: 50px;
            &:first-child {
                margin-top: 0;
            }
            h2 {
                @extend %font-h2;
                margin-bottom: 30px;
            }
            h3 {
                @extend %font-meta-title-large;
            }
        }

        .preview-img {
            margin-top: 30px;
            &:first-child {
                margin-top: 0;
            }
        }
        .post-link {
            text-decoration: underline;
        }

        .cell {
            &--bg-color {
                background-color: $dark-green;
                margin-bottom: 30px;
            }
        }

        .small-title {
            margin-top: 25px;
            line-height: 1;
            height: 45%;
            position: relative;
            a {
                @extend %font-preview-title;
                color: $white;
            }
            img {
                position: absolute;
                max-width: 11px;
                right: 15px;
                top: -8px;
            }
        }
        .taxonomy {
            @extend %font-meta-title;
            color: $white;
        }

        .location-misc {
            margin-bottom: 30px;
            p,a {
                @extend %font-meta-title;
                margin: 0;
            }
            &:after {
                background-color: $black;
                content:'';
                height: 1px;
                width: 100%;
                display: block;
                clear: both;
                margin-left: 0.9375rem;
                margin-right: 0.9375rem;
            }
        }

    }

    // latest posts
    &__posts {
        @include breakpoint(medium){
            margin-bottom: 50px;
        }
        @include breakpoint(large){
            margin-bottom: 100px;
        }
        .grid-container {
            max-width: 840px;
        }

        .cell {
            margin-bottom: 50px;
            @include breakpoint(large){
                margin-bottom: 50px;
            }
            &:nth-child(2){
                @include breakpoint(medium){
                    margin-top: -100px;
                }
            }
        }
        .content {
            @include breakpoint(small only){
                margin-top: 20px;
            }
        }
        .first {
            .content {
                @include breakpoint(medium){
                    float: right;
                    right: 5.5%;
                }
            }
        }
        .fullwidth {
            width: 100%;
            margin: -100px 0 50px; 
        }

        .page-link {
            @extend %font-meta-title;
            text-decoration: underline;
        }
    }

    // featured recipe
    &__featured-recipe {
        margin-bottom: 50px;
        @include breakpoint(medium){
            margin-bottom: 100px;
        }
        @include breakpoint(large){
            margin-bottom: 150px;
        }

        .cell {
            &--image {
                background-size: cover;
                background-position: center;
                @include breakpoint(small only){
                    @include aspect-ratio(16,9);
                    margin-bottom: 20px;
                }
            }
            &--content {
                @include breakpoint(medium){
                    padding: 30px;
                }
            }
        }

        .taxonomy {
            @extend %font-meta-title;
        }

        .title {
            line-height: 1;
            margin-bottom: 30px;
            a {
                @extend %font-h2;
            }
        }

        .excerpt {
            @include breakpoint(medium){
                margin-bottom: 0;
            }
        }

        .read-more {
            text-decoration: underline;
        }
    }

}