.journal-layout {
    
    &__more {
        margin-bottom: 150px;
        button {
            @extend %font-meta-title;
            text-decoration: underline;
        }
    }

    .grid-container {

        &--categories {
            text-align: center;
            margin-bottom: 75px;
            .post-category {
                @extend %font-h3;
                cursor: pointer;
                transition: text-decoration .25s ease-out;
                text-decoration: none;
                display: block;
                &:hover,
                &.active {
                    text-decoration: line-through;
                }
            }

            .slash {
                display: inline-block;
                padding-left: 10px;
                margin-right: -15px;
            }
        }

        &--journal-link {
            display: none;
        }
    }
}