<div class="cell cell--featured-img text-center">

    <img src="{{ FEATURED_IMG.src }}" alt="{{ FEATURED_IMG.alt }}">

</div>

{% if INTRO %}
    <div class="cell cell--intro medium-10 large-9">
        {{ INTRO }}
    </div>
{% endif %}