<header class="grid-x grid-margin-x grid-x--header align-justify">
    
    <div class="cell cell--title">
        <span class="sub-title">
            {% autoescape %}
                NYC restaurant GUIDE
            {% endautoescape %}
        </span>
        <h1 class="entry-title">
            {{ post.title }}
        </h1>
    </div>

    <div class="cell small-6 medium-5 large-4">
        <p class="address">
            <i class="fa fa-map-marker" aria-hidden="true"></i> <span>{{ ADDRESS }}</span>
        </p>
    </div>
    <div class="cell small-6 medium-4 large-3 text-right">
        <p class="diet-types">
            {% for diet in TAXONOMY %}
                {{ diet.name }}{{ not loop.last ? "," }}
            {% endfor %}
        </p>
    </div>
</header>