{# <div class="blog-comment {{ comment.comment_type }}" id="blog-comment-{{comment.ID}}">
    <h5 class="comment-author">{{ comment.author.name }} says</h5>
    <div class="comment-content">{{ comment.comment_content|wpautop }}</div>

    <section class="comment-box">
        {% if post.comments %}
            <h4>{{ __('replies', 'sage') }}</h4>
            <div class="comments">
                {% if comment.children %}
                    {% for comment in comment.children %}
                        {% include "blocks/comment.twig" with {comment:comment} %}
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    </section>
</div> #}
<ol class="comment-list">
    {% for comment in post.comments %}
        <li id="li-comment-{{comment.ID}}">
            <article id="comment-{{comment.ID}}" class="parent-comment comment {{ comment.comment_type }}">
               
               <div class="comment-details clr">
                    
                    <p class="date"><strong class="name">{{comment.comment_author}}</strong> {{ comment.date }} at {{comment.time}}: {{ comment.reply_link( "Reply") }}</p>
                    <p class="comment">{{ comment.content }}</p>
                </div>
                       
            </article>
            {% if comment.children %}
                <ul class="children">
                    {% for subComment in comment.children %}
                        <li id="comment-{{subComment.ID}}">
                            <article id="comment-{{subComment.ID}}" class="sub-comment comment">
                                <div class="comment-details clr">
                                    {# {{ subComment.reply_link() }} #}
                                    <p class="date"><strong class="name">{{subComment.comment_author}}</strong>  {{ subComment.date }} at {{subComment.time}}:</p>
                                    <p class="comment">{{ subComment.content }}</p>
                                </div>
                            </article>
                        </li>
                    {% endfor %} 
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ol>