<article {{ function('post_class', 'cell') }}>
    <header>
        <h2 class="entry-title"><a href="{{ post.link }}">{{ post.title }}</a></h2>
    </header>
    <div class="entry-summary">
        {{ post.post_excerpt }}
    </div>
</article>