{% set IMG = TimberImage(post.get_field('image_preview')) %}
{% set TITLE = post.title %}
{% set LINK = post.link %}
{% set TAXONOMY = post.terms('category') | first %}
{% set directory =  ''  %}
{% if directory %}
    {% set directory =  theme.link  %}
{% endif %}



    {# {{ directory | print_r}} #}
{% if ((loop.first) or (ajaxloop is defined and ajaxloop is same as(0))) %}

    <div class="cell small-12 first masonry">
        <a href="{{ LINK }}">
            <img src="{{ IMG.src | resize(992,478) }}" alt="{{ IMG.alt }}">
        </a>
        {# content #}
        {% include 'partials/home/latest-posts__content.twig' %}
    </div>
    
{% else %}
    {{directory}}
    <div class="cell small-12 medium-6 masonry">

        {% if TAXONOMY == 'Food Farmacy Guides' %}
            
            <div class="content-preview content-preview--peach">
                
                <img class="arrow" src="{{ theme.link }}/public/images/right-up-arrow.png" alt="{% autoescape %}right arrow{% endautoescape %}">
                <span class="taxonomy">
                    {{ TAXONOMY }}
                </span>

                <h2 class="title">
                    <a href="{{ LINK }}">
                        {{ TITLE }}
                    </a>
                </h2>

            </div>

        {% else %}
            <a href="{{ LINK }}">
                <img class="wait-for-me" src="{{ IMG.src | resize(512,367) }}" alt="{{ IMG.alt }}">
            </a>
            
            {# content #}
            {% include 'partials/home/latest-posts__content.twig' %}
        {% endif %}
        

    </div>

{% endif %}