
<footer class="content-info">

    <div class="reveal" id="newsletterModal" data-reveal>
        <div class="grid-container">
            <div class="grid-x grid-margin-x align-bottom">
                <div class="cell medium-6">
                    <h2 class="modal-title">
                        {{ options.title_newsletter_global }}
                    </h2>
                    <p>
                        {{ options.description_newsletter_global }}
                    </p>
                </div>
                <div class="cell medium-6">
                    {% set NEWSLETTER_IMG = TimberImage(options.image_newsletter_global) %}

                    <img class="modal-img show-for-medium" src="{{ NEWSLETTER_IMG.src }}" alt="{{ NEWSLETTER_IMG.alt }}">
                    <h2 class="form-title">
                        {% autoescape %}
                            Sign Up For Our Newsletter
                        {% endautoescape %}
                    </h2>
                    {% filter shortcodes %}
                        [gravityform id="2" title="false" description="false" ajax="true"]
                    {% endfilter %}
                </div>
            </div>
            <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    {# instagram #}
    {% include 'partials/instagram.twig' %}

    <div class="grid-container grid-container--top">
        
        <div class="grid-x grid-margin-x align-justify">
        
            <div class="cell cell--main cell--logo small-12 medium-2">
                <a class="logo-link" href="{{ site.url }}">
                    <img src="{{ theme.link }}/public/images/footer-logo.png" alt="{{ site.name }}">
                </a>
            </div>

            <div class="cell cell--main small-12 medium-4">
                <ul class="grid-x grid-x--menu">
                    {% for item in footer_menu.get_items %}
                        <li class="cell small-6">
                            <a href="{{ item.get_link }}">
                                <span>
                                    {{ item.title }}
                                </span>
                            </a>
                            
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="cell cell--main small-12 medium-5">
                {% filter shortcodes %}
                    [gravityform id="1" title="true" description="false" ajax="true"]
                {% endfilter %}
                <ul class="social-link">

                    {% for socialNetwork in options.links_sm_global %}
                        
                        <li>
                            <a href="{{socialNetwork.link}}" target="_blank">
                                {{socialNetwork.icon}}
                            </a> 
                        </li>
    
                    {% endfor %}
    
                </ul>
            </div>
        
        </div>

    </div>

    <div class="grid-container grid-container--misc">
        <div class="grid-x grid-margin-x">
        
            <div class="cell small-12 medium-6">
                <p>
                    {% autoescape %}
                        ©{{ site.name }} {{ "now"|date("Y") }}  All RIGHTS RESERVED 
                    {% endautoescape %}
                </p>
            </div>
            <div class="cell small-12 medium-6">
                <a href="https://projectmplus.com/">
                    {% autoescape %}
                        DESIGN AND DEVELOPMENT PROJECT M PLUS
                    {% endautoescape %}
                </a>
            </div>

        </div>
	</div>

</footer>