<header id="top-menu" class="header header--main" data-js="header-color" data-toggler=".header--is-open">

	<div class="header__title-bar">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">

                <div class="cell z-index small-2">
                    <button class="menu-icon" type="button" data-toggle="top-menu">
                        <img class="close-img" src="{{ theme.link }}/public/images/close-button.png" alt="">
                    </button>
                </div>
                <div class="cell z-index small-8 text-center">
                    <a class="brand" href="{{ site.url }}">
                        <img class="logo-home" src="{{ theme.link }}/public/images/logo.png" alt="{{ site.name }}">
                        <img class="logo-sub" src="{{ theme.link }}/public/images/DailyBloomLogo.svg" alt="{{ site.name }}">
                    </a>
                </div>
                <div class="cell z-index small-2 text-right">
                    <i class="search fa fa-search" aria-hidden="true" data-js="search-bar"></i>
                </div>

                <div class="cell search-block">
                    {{function('get_search_form')}}
                </div>

            </div>
        </div>
    </div>

    <div class="header__top-bar hide">
        <div class="grid-container">

            <div class="grid-x grid-margin-x">
                
                <div class="cell medium-3">        
                    {% block header %}
                    
                        {% include 'blocks/nav-primary.twig' with {menu: menu.get_items} %}

                    {% endblock %}
                </div>
                <div class="cell medium-9 show-for-medium">
                    
                    <div class="grid-x grid-margin-x"  data-equalizer="recipe" data-equalize-on="medium">

                        {% for recipe in RMH_POPULAR_POSTS %}    

                            {# content #}
                            {% include 'partials/recipe-preview.twig' %}

                        {% endfor %}

                    </div>

                </div>
            
            </div>

        </div>
    </div>

</header>