{% if menu %}

	<div class="header__top-bar-right">
	    <ul class="header__dropdown-menu" data-dropdown-menu>
	        {% for item in menu %}
	            <li class="{{ item.classes | join(' ') }}">
	                <a href="{{ item.get_link }}">
	                	<span>
	                		{{ item.title }}
	                	</span>
	                </a>
	                
	            </li>
	        {% endfor %}
	    </ul>
	</div>

{% endif %}
