.button {
    @extend %font-meta-title;
    background-color: $mid-tan;
    text-transform: uppercase;
    color: $black;
    padding: 20px 30px 18px;
    &:hover {
        background-color: $black;
        color: $white;
    }
} 