.comment-list {
	list-style: none;
}
.comment-list ol {
	list-style: none;
}
.comment-form p {
  // @extend .form-group;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
	// @extend .form-control;
}
.comment-form input[type="submit"] {
	@extend .button;
// @extend .btn-primary;
}
.grid-container {

	&--comments {
		max-width: 780px;
		margin-bottom: 100px;
		@include breakpoint(medium){
			margin-bottom: 150px;
		}
		@include breakpoint(large){
			margin-bottom: 200px;
		}
		.comments__row {
			max-width: 870px;
		}
	
		.comment-respond {
			@extend .clearfix;
			padding-bottom: 50px;
		
			h3 {
				@extend %font-meta-title;
				color: $black;
				margin-bottom: 15px;
			}
		}
	
		.comments-empty {
			/*@extend %font-preview-title;*/
			text-align: center;
		}
	
		.logged-in-as {
			a {
				color: $black;
				transition: color .35s ease-out;
				&:hover {
					/*color: $brand-red;*/
				}
			}
		}
	}

}

.comment-list {
	margin: 0;
	clear: both;

	> li {
		margin-top: 40px;
		&:first-child {
			margin-top:0;
		}
	}
	li {
		list-style: none;
		.children {
			margin: 40px 0 0;
			> li {
				margin-top: 40px;
				&:first-child {
					margin-top:0;
				}
				* {
					/*color: $brand-red !important;*/
				}
			}
			li {
				border-left: 1px solid $black;
				padding-left: 25px;
				margin-left: 25px;
				// background-image: url(../images/reply-up-arrow.png);
				// background-repeat: no-repeat;
				// background-size: 17px;
			}
		}
	}

	.comment-content {
		p {
			/*@extend %font-comment-text;*/
		}
	}
	.date {
		@extend %font-meta-title;
	}
	.name {
		@extend %font-preview-title;
		text-transform: none;
		padding-right: 7px;
	}
	.comment-reply-link {
		@extend %font-meta-title;
		&:hover {
			color: $black;
		}
	}
	.comment-meta {
		@extend .clearfix;
		h2 {
			/*@extend %font-header-two-number;*/
			color: $black;
			display: inline-block;
			vertical-align: bottom;
			line-height: 1;
		}
		.reply {
			display: inline-block;
			vertical-align: bottom;
			margin-bottom: 1px;
			* {
				/*@extend %font-entry-meta;*/
			}
		}
	}
	article {
		padding: 0 !important;
	}
}

.comment-form {
	.comment-notes {
		display: none;
	}
	p {
		label {
			display: none;
		}
		input,
		textarea,
		button {
			@extend %font-meta-title;
			color: $black;
			border: 1px solid $black;
			background: none;
			box-shadow: none;
			@include placeholder(){
				color: $black;
			}
			&:focus {
				border-color: $black;
				background-color: transparent;
				box-shadow: none;
			}
		}
		button {
			display: block;
			width: 100%;
			line-height: 37px;
		}
		textarea {
			min-height: 225px;
		}
	}

	.comment-form-author,
	.comment-form-email {
		float: left;
		width: 40%;
		margin-right: 1.5%;
		@include breakpoint(small only){
			margin-right: 0;
			width: 100%;
			float: none;
			margin-bottom: 15px;
		}
		input {
			margin-bottom: 0;
		}	
	}
	.form-submit {
		float: left;
		width: 17%;
		@include breakpoint(small only){
			width: 100%;
			float: none;
		}
		input {
			@extend %font-meta-title;
			background-color: $black;
			color: $white;
			border-color: $black;
			margin-bottom: 0;
			width: 100%;
			padding: 0.5rem;
			line-height: 21px;
			transition: color .25s ease-out, background-color .25s ease-out;
			&:hover {
				color: $black;
				background-color: transparent;
			}
		}
	}

	.reset {
		clear:both;
	}
}