// Search form
.search-form {

}
.search-form label {
    font-weight: normal;
}
.search-form .search-field {
}
.search-form .search-submit {
    @extend .button;
}
form {
	.gform_validation_container {
		display: none;
	}
	
	.gfield_error {
		.validation_message {
			@extend .form-error;
			display: inherit;
			margin-top: 1rem;
		}
	}
	.gform_fields {
		margin-left: 0;
		.gfield {
			list-style: none;
			margin-bottom: rem-calc(30);
		}
	}

	.gform_body {
		input,
		textarea {
			//font-styling
			color: $black;
			border: 1px solid $black;
			box-shadow: none;
			margin-bottom: 0;
			background: none;
			height: auto;
			padding: rem-calc(15);
			@include placeholder {
				color: $black;
			}
		}
	}

	.gform_footer {
		text-align: center;
		.gform_button {
			//font-styling
			background: none;
			padding: 0;
			appearance:none;
			padding: 0.9375rem 3.75rem;
			&:hover {
				background:none;
			}
		}
	}

	.chosen-container-single {
		.chosen-single {
			//font-styling
			border: 1px solid $black;
			background: none;
			border-radius: 0;
		    padding: 8px 11px;
		    height: 41px;
		}
	}
	.chosen-container-multi {
		//font-styling
		.chosen-choices {
			color: $black;
			border: 1px solid $black;
			background: none;
			border-radius: 0;
		    padding: 8px 11px;
		    height: 41px;
		}
	}
}

/*#gform_confirmation_wrapper_1 {

}*/

body img.gform_ajax_spinner {
    display: none!important;
}

// footer newsletter
footer {
	.gform_wrapper {
        .gfield_label {
            display: none;
        }
        .gform_title {
            @extend %font-meta-title-large;
			color: $white;
			margin-bottom: 30px;
        }
        form {
            position: relative;
        }
        .gform_body {
            input {
                @extend %font-meta-title;
				color: $black;
                background-color: $white;
                border:none;
                font-size: 12px;
                letter-spacing: 1px;
            }
        }
        .gform_footer {
            .gform_button {
				background: url(../images/small-right-arrow.png) no-repeat center transparent;
				background-size: 15px;
                position: absolute;
                font-size: 0;
                bottom: 0;
                right: 0;
                height: 49px;
                width: 35px;
                padding: 0;
                margin: 0;
            }
        }
    }
}
// modal
#gform_wrapper_2 {
	.gfield_label {
		display: none;
	}
	.gform_body {
		input {
			@extend %font-meta-title;
			color: $black;
			border:none;
			background-color: $white;
		}
		.gfield {
			margin-bottom: 0;
		}
	}
	.gform_footer {
		.gform_button {
			background: url(../images/small-right-arrow.png) no-repeat center transparent;
			background-size: 15px;
			position: absolute;
			font-size: 0;
			bottom: 0;
			right: 15px;
			height: 49px;
			width: 35px;
			padding: 0;
			margin: 0;
		}
	}
	.gform_fields {
		margin-bottom: 0;
	}
}

.search-block {
	position: absolute;
	z-index: 9;
	max-width: 85%;
	display: none;
	.screen-reader-text {
		font-size: 0;
		height: 0;
		overflow: hidden;
		display: block;
	}
	form {
		position: relative;
	}
	.search-field {
		position: relative;
		z-index: 0;
	}
	.search-submit {
		position: absolute;
		top: 0;
		right: 0;
		padding: 13px;
	}
}