.reveal-overlay {
    /*background-color: rgba(179,191,182,.7);*/
    /*overflow: auto;*/
    /*position: absolute;*/
    top: auto;
    overflow: visible;
    background-color: transparent;
    @include breakpoint(medium) {
        /*position: absolute;*/
    }
    .reveal {
        background: $slider-tan;
        // text-align: center;
        padding: 30px;
        border:none;
        outline: none;
        width: 100%;
        max-width: 100%;
        overflow: visible;
        bottom: 0;
        top: auto !important;
        position: absolute;
        @include breakpoint(medium) {
            // width: 600px;
            /*position: fixed;*/
            padding: 50px;
        }
        @include breakpoint(small only) {

        }
        .close-button {
            transition: color .45s ease-out;
            right: 25px;
            top: 20px;
            font-size: 20px;
            @include breakpoint(medium){
                right: -45px
            }
            &:hover {
                /*color:$white;*/
            }
            span {
                color: $black;
                font-size: 29px;
            }
        }
        &.reveal-legal {
            

        }

        .modal-title {
            @extend %font-h2;
            color: $dark-green;
            max-width: 225px;
            line-height: 52px;
        }
        p {
            @extend %font-h3;
            font-size: rem-calc(18);
            line-height: 29px;
            margin-bottom: 0;
        }

        .form-title {
            @extend %font-h3;
            @include SAOL_DISPLAY_REGULAR;
            color: $dark-green;
            padding-top: 50px;
            margin-bottom: 15px;
        }

        .modal-img {
            margin-top: -100px;
        }
    }
    .grid-container {
        position: relative;
        max-width: 650px;
    }

}
body {
    &.is-reveal-open {
        overflow: inherit;
    }
}