//fonts go here
@font-face {
    font-family: 'Noe Display Med';
    src: url('../fonts/NoeDisplay-Medium.eot');
    src: url('../fonts/NoeDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NoeDisplay-Medium.woff2') format('woff2'),
        url('../fonts/NoeDisplay-Medium.woff') format('woff'),
        url('../fonts/NoeDisplay-Medium.ttf') format('truetype'),
        url('../fonts/NoeDisplay-Medium.svg#NoeDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Text';
    src: url('../fonts/GTEestiProText-Medium.eot');
    src: url('../fonts/GTEestiProText-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTEestiProText-Medium.woff2') format('woff2'),
        url('../fonts/GTEestiProText-Medium.woff') format('woff'),
        url('../fonts/GTEestiProText-Medium.ttf') format('truetype'),
        url('../fonts/GTEestiProText-Medium.svg#GTEestiProText-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Verlag';
    src: url('../fonts/Verlag-Light.eot');
    src: url('../fonts/Verlag-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Verlag-Light.woff2') format('woff2'),
        url('../fonts/Verlag-Light.woff') format('woff'),
        url('../fonts/Verlag-Light.ttf') format('truetype'),
        url('../fonts/Verlag-Light.svg#Verlag-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Saol Display';
    src: url('../fonts/SaolDisplay-Regular.eot');
    src: url('../fonts/SaolDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SaolDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SaolDisplay-Regular.woff') format('woff'),
        url('../fonts/SaolDisplay-Regular.ttf') format('truetype'),
        url('../fonts/SaolDisplay-Regular.svg#SaolDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Saol Display Med';
    src: url('../fonts/SaolDisplay-Medium.eot');
    src: url('../fonts/SaolDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SaolDisplay-Medium.woff2') format('woff2'),
        url('../fonts/SaolDisplay-Medium.woff') format('woff'),
        url('../fonts/SaolDisplay-Medium.ttf') format('truetype'),
        url('../fonts/SaolDisplay-Medium.svg#SaolDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Saol Display Light Italic';
    src: url('../fonts/SaolDisplay-LightItalic.eot');
    src: url('../fonts/SaolDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SaolDisplay-LightItalic.woff2') format('woff2'),
        url('../fonts/SaolDisplay-LightItalic.woff') format('woff'),
        url('../fonts/SaolDisplay-LightItalic.ttf') format('truetype'),
        url('../fonts/SaolDisplay-LightItalic.svg#SaolDisplay-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@mixin GT_EESTI_PRO {
    font-family: 'GT Eesti Pro Text';
    font-weight: 500;
    font-style: normal;
}

@mixin SAOL_DISPLAY_REGULAR {
    font-family: 'Saol Display';;
    font-weight: normal;
    font-style: normal;
}


@mixin SAOL_DISPLAY_MEDIUM {
    font-family: 'Saol Display Med';
    font-weight: 500;
    font-style: normal;
}

@mixin VERLAG_LIGHT {
    font-family: 'Verlag';
    font-weight: 300;
    font-style: normal;
}

@mixin SAOL_DISPLAY_LIGHT_ITALIC {
    font-family: 'Saol Display Light Italic';
    font-weight: 300;
    font-style: italic;
}

%font-meta-title {
    @include GT_EESTI_PRO;
    font-size: rem-calc(11);
    letter-spacing: rem-calc(2);
    text-transform: uppercase;
}

%font-meta-title-large {
    @extend %font-meta-title;
    font-size: rem-calc(14);
}

%font-preview-title {
    @include SAOL_DISPLAY_MEDIUM;
    font-size: rem-calc(20);
    line-height: 29px
}

%font-massive {
    @include SAOL_DISPLAY_REGULAR;
    font-size: rem-calc(59);
    line-height: 1;
    @include breakpoint(large){
        font-size: rem-calc(97);
    }
}

%font-h1 {
    @include SAOL_DISPLAY_REGULAR;
    font-size: rem-calc(40);
    line-height: 1;
    @include breakpoint(large){
        line-height: 68px;
        font-size: rem-calc(59);
    }
}

%font-recipe-title {
    @include SAOL_DISPLAY_MEDIUM;
    font-size: rem-calc(40);
    line-height: 1;
    @include breakpoint(large){
        line-height: 63px;
        font-size: rem-calc(50);
    }
}

%font-h2 {
    @include SAOL_DISPLAY_REGULAR;
    font-size: rem-calc(25);
    line-height: 1;
    @include breakpoint(large){
        font-size: rem-calc(37);
    }
}

%font-h3 {
    @include SAOL_DISPLAY_MEDIUM;
    font-size: rem-calc(19);
    line-height: 1;
    @include breakpoint(large){
        font-size: rem-calc(26);
    }
}

%font-big-copy {
    @include VERLAG_LIGHT;
    font-size: rem-calc(19);
    line-height: 36px;
}

%font-body-copy {
    @include VERLAG_LIGHT;
    font-size: rem-calc(16);
    line-height: 28px;
}

%font-excerpt {
    @include VERLAG_LIGHT;
    font-size: rem-calc(13);
    line-height: 21px;
}

%font-link {
    @include GT_EESTI_PRO;
    font-size: rem-calc(12);
    text-decoration: underline;
    letter-spacing: rem-calc(3);
    &:hover {
        color: $peach;
    }
}

%font-block-quote {
    @include SAOL_DISPLAY_LIGHT_ITALIC;
    color: $black;
    font-size: rem-calc(33);
    line-height: rem-calc(50);
}

body {
    @extend %font-body-copy;
    p {
        @extend %font-body-copy;
    }
}