// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$dark-green:         #115346;
$darker-green: #105446;
$peach: #e7c3b0;
$light-tan: #fbe8d3;
$mid-tan: #fae6d2;
$slider-tan: #fbe7d2;