{% set SELETEC_RECIPE = post.get_field('select_recipe_featured') %}
<section class="home-layout__featured-recipe">

    <div class="grid-container">

        <div class="grid-x grid-padding-x">

            {% for recipe in SELETEC_RECIPE %}
                {% set TITLE = recipe.title %}
                {% set LINK = recipe.link %}
                {% set EXCERPT = recipe.preview.read_more('<br/><br/> See Full Recipe') %}
                {% set IMG_LEFT = TimberImage(recipe.get_field('featured_image_acf')) %}
                {% set IMG_RIGHT = TimberImage(recipe.get_field('featured_image_b_acf')) %}
                
                <div class="cell small-12 medium-4 large-6 cell--image cell--image-left" style="background-image:url({{ IMG_LEFT.src }})">
                
                </div>
                <div class="cell small-12 medium-4 large-3 cell--content">

                    <a class="taxonomy" href="{{ TimberPost(12).link }}">
                        {% autoescape 'type' %}
                            recipe
                        {% endautoescape %}
                    </a>

                    <h2 class="title">
                        <a href="{{ LINK }}">
                            {{ TITLE }}
                        </a>
                    </h2>

                    <p class="excerpt">
                        {{ EXCERPT }}
                    </p>
                </div>
                <div class="cell small-12 medium-4 large-3 cell--image cell--image-right hide-for-small-only" style="background-image:url({{ IMG_RIGHT.src }});">
                
                </div>

            {% endfor %}

        </div>

    </div>

</section>