{% set INTRO_TITLE = post.title_intro %}
{% set INTRO_DESC = post.description_intro %}
{% set INTRO_BUTTON_TEXT = post.button_text_intro %}
{% set INTRO_BUTTON_LINK = post.get_field('button_link_intro') %}

<section class="home-layout__intro">

    <div class="grid-container">
    
        <div class="grid-x grid-margin-x">

            <div class="cell">

                <h2 class="title">
                    {{ INTRO_TITLE }}
                </h2>

                <p class="description">
                    {{ INTRO_DESC }}
                </p>

                <a class="page-link" href="{{ INTRO_BUTTON_LINK }}">
                    {{ INTRO_BUTTON_TEXT }}
                </a>
            </div>

        </div>

    </div>

</section>