<div class="content content--full content-preview">
                            
    <img class="arrow" src="{{ theme.link }}/public/images/right-up-arrow.png" alt="{% autoescape %}right arrow{% endautoescape %}">
    {# get the first taxonmy the post has #}
    <span class="taxonomy">
        {{ TAXONOMY }}
    </span>

    <h2 class="title">
        <a href="{{ LINK }}">
            {{ TITLE }}
        </a>
    </h2>

</div>