<section class="home-layout__posts">

    <div class="grid-container">
        
        <div id="posts-entered" class="grid-x grid-margin-x" data-js="posts-container">

                {% for post in LATEST_POSTS %}
                    
                    {% include 'blocks/content-post.twig' %}

                {% endfor %}
            
        </div>

    </div>

    <div class="grid-container grid-container--journal-link">
        <div class="grid-x grid-margin-x">
            <div class="cell text-center">
                <a class="page-link" href="{{ TimberPost(115).link }}">
                    {% autoescape %}
                        GO TO JOURNAL
                    {% endautoescape %}
                </a>
            </div>
        </div>
    </div>

</section>