<section class="home-layout__latest-recipes">
    
    <div class="grid-container grid-container--latest">
    
        <div class="grid-x grid-margin-x align-center" data-equalizer="recipe" data-equalize-on="medium">

            {% for recipe in LATEST_RECIPE_POSTS %}    

                {# content #}
                {% include 'partials/recipe-preview.twig' %}

            {% endfor %}

        </div>

    </div>

    <div class="grid-container grid-container--more">
        <div class="grid-x grid-margin-x">
            <div class="cell text-center">
                <a class="page-link" href="{{ TimberPost(115).link }}">
                    {% autoescape %}
                        GO TO JOURNAL
                    {% endautoescape %}
                </a>
            </div>
        </div>
    </div>

</section>