{% set LOCATIONS_SECTION_TITLE = post.section_title_fl %}
{% set FEATURED_LOCATION = post.get_field('location_featured') %}

<section class="home-layout__locations anti-padding">

    <div class="grid-container intro">
        <div class="grid-x grid-margin-x">

            <div class="cell text-center">
                <h2 class="sub-title">
                    {{ LOCATIONS_SECTION_TITLE }}
                </h2>
            </div>

        </div>
    </div>

    {# featured post #}
    {% include 'partials/home/locations__post.twig' %}

    {# other posts #}
    {% include 'partials/home/locations__posts.twig' %}

</section>