<div class="grid-container grid-container--post">

    <div class="grid-x grid-margin-x">

        {% for location in FEATURED_LOCATION %}
            {% set TITLE = location.title %}
            {% set ADDRESS = location.map_location | first %}
            {% set ADDRESS_LAT = location.map_location.lat %}
            {% set ADDRESS_LNG = location.map_location.lng %}
            {% set TAXONOMY = location.terms('diet_type') %}
            {% set IMAGES = location.get_field('preview_images_hp') %}
            {% set LOVE_IT = location.get_field('love_it_preview') %}
            {% set WHAT_TO = location.get_field('what_to_order_preview') %}
            {% set LINK = location.link %}

            {# title #}
            <div class="cell">
                <h2 class="title">
                    <a href="{{ link }}">
                        {{ TITLE }}
                    </a>
                </h2>
            </div>

            {# meta #}
            <div class="grid-container grid-container--meta">

                <div class="grid-x align-justify">
                
                    <div class="cell small-6 medium-5 large-4">
                        <p class="address">
                            <a href="https://maps.google.com/?ll={{ ADDRESS_LAT }},{{ ADDRESS_LNG }}">
                                <i class="fa fa-map-marker" aria-hidden="true"></i> <span>{{ ADDRESS }}</span>
                            </a>
                        </p>
                    </div>
                    <div class="cell small-6 medium-4 large-3 text-right">
                        <p>
                            {% for diet in TAXONOMY %}
                                {{ diet.name }}{{ not loop.last ? "," }}
                            {% endfor %}
                        </p>
                    </div>

                </div>

            </div>

            {# preview #}
            <div class="grid-container grid-container--preview">

                <div class="grid-x align-justify">
                
                    <div class="cell small-4 show-for-medium">
                        {% for image in IMAGES %}
                            {% set IMG = TimberImage(image.images) %}
                            <img class="preview-img" src="{{ IMG.src }}" alt="{{ IMG.alt  }}">
                        {% endfor %}
                    </div>
                    <div class="cell medium-7">
                        {% if LOVE_IT %}
                            <div class="content">
                                {{ LOVE_IT }}
                            </div>
                        {% endif %}
                        {% if WHAT_TO %}
                            <div class="content">
                                {{ WHAT_TO }}
                            </div>
                        {% endif %}
                        <a class="post-link" href="{{ LINK }}">
                            {% autoescape 'html' %}
                                Read Full Post >
                            {% endautoescape %}
                        </a>
                    </div>


                </div>

            </div>

        {% endfor %}

    </div>

</div>