<div class="grid-container grid-container--locations">
    
    <div class="grid-x grid-margin-x small-up-2 location-misc">
        <div class="cell">
            <p>
                {% autoescape %}
                    MORE restaurant GUIDES
                {% endautoescape %}
            </p>
        </div>
        <div class="cell text-right">
            <a href="#">
                {% autoescape %}
                    View All
                {% endautoescape %}
            </a>
        </div>
    </div>

    <div class="grid-x grid-margin-x small-up-1 medium-up-2">
        {% for location in LOCATION_POSTS %}
            {% set IMG = TimberImage(location.get_field('featured_image_top')) %}
            {% set LINK = location.link %}
            {% set TITLE = location.title %}

            <div class="cell cell--bg-color">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-7">
                        <a href="{{ LINK }}">
                            <img src="{{ IMG.src | resize(459,347) }}" alt="{{ IMG.alt }}">
                        </a>
                    </div>
                    <div class="cell small-5">
                        <h2 class="small-title">
                            <a href="{{ LINK }}">
                                {{ TITLE }} <img class="arrow" src="{{ theme.link }}/public/images/right-up-arrow-white.png" alt="{% autoescape %}right arrow{% endautoescape %}">
                            </a>
                        </h2>

                        <span class="taxonomy">
                            {{ location.terms('region') | first }}
                        </span>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

</div>