{% set CONTENT_MODULES = post.get_field('content_modules') %}

{# TODO: break out into seperate files #}

{% for MODULE in CONTENT_MODULES %}

    {# block #}
    {% if MODULE.acf_fc_layout == 'basic_content' %}
        {% set CONTENT = MODULE.content_block %}

        <section class="grid-container grid-container--basic">

            <div class="grid-x grid-margin-x">
                <div class="cell">
                    {{ CONTENT }}
                </div>
            </div>

        </section>

    {# block #}
    {% elseif MODULE.acf_fc_layout == 'centered_image' %}
        {% set IMG = TimberImage(MODULE.image) %}
        {% set CAPTION = IMG.caption %}

        <section class="grid-container grid-container--centered-img">
            <div class="grid-x grid-margin-x">
                <div class="cell">
                    <figure>
                        <img src="{{ IMG.src }}" alt="{{ IMG.alt }}">
                        {% if CAPTION %}
                            <figcaption>
                                {{ CAPTION }}
                            </figcaption>
                        {% endif %}
                    </figure>
                </div>
            </div>
        </section>

    {# block #}
    {% elseif MODULE.acf_fc_layout == 'column_left_column_right_half' %}
        {% set CONTENT_LEFT = MODULE.content_left %}
        {% set CONTENT_RIGHT = MODULE.content_right %}

        <section class="grid-container grid-container--three-column">
            <div class="grid-x grid-margin-x">
                <div class="cell medium-4">
                    {{ CONTENT_LEFT }}
                </div>
                <div class="cell medium-8 cell--split-content">
                    {{ CONTENT_RIGHT }}
                </div>
            </div>
        </section>

    {# block #}
    {% elseif MODULE.acf_fc_layout == 'three_columns' %}
        {% set CONTENT_LEFT = MODULE.left %}
        {% set CONTENT_MIDDLE = MODULE.middle %}
        {% set CONTENT_RIGHT = MODULE.right %}

        <section class="grid-container grid-container--three-column">
            <div class="grid-x grid-margin-x">
                <div class="cell medium-4 cell--with-img">
                    {{ CONTENT_LEFT }}
                </div>
                <div class="cell medium-4">
                    {{ CONTENT_MIDDLE }}
                </div>
                <div class="cell medium-4">
                    {{ CONTENT_RIGHT }}
                </div>
            </div>
        </section>
    
    {# block #}
    {% elseif MODULE.acf_fc_layout == 'two_column' %}
        {% set CONTENT_LEFT = MODULE.left %}
        {% set CONTENT_RIGHT = MODULE.right %}

        <section class="grid-container grid-container--two-column">
            <div class="grid-x grid-margin-x">
                <div class="cell medium-6">
                    {{ CONTENT_LEFT }}
                </div>
                <div class="cell medium-6">
                    {{ CONTENT_RIGHT }}
                </div>
            </div>
        </section>

    {# block #}
    {% elseif MODULE.acf_fc_layout == 'image_left_right' %}    
        {% set IMG_LEFT = TimberImage(MODULE.image_left) %}
        {% set IMG_RIGHT = TimberImage(MODULE.image_right) %}

        <section class="grid-container grid-container--short">

            <div class="grid-x grid-x--fullwidth grid-margin-x image-block">
                <div class="cell small-6">
                    <figure>
                        <img src="{{ IMG_LEFT.src }}" alt="{{ IMG_LEFT.alt }}">
                        {% if IMG_LEFT.caption %}
                            <figcaption>
                                {{ IMG_LEFT.caption }}
                            </figcaption>
                        {% endif %}
                    </figure>
                </div>
                <div class="cell small-6">
                    <figure>
                        <img src="{{ IMG_RIGHT.src }}" alt="{{ IMG_RIGHT.alt }}">
                        {% if IMG_RIGHT.caption %}
                            <figcaption>
                                {{ IMG_RIGHT.caption }}
                            </figcaption>
                        {% endif %}
                    </figure>
                </div>
            </div>

        </section>

    {# block #}
    {% elseif MODULE.acf_fc_layout == 'button_module' %} 
        {% set BUTTON_TEXT = MODULE.button_text %}
        {% set BUTTON_TYPE = MODULE.what_type_of_button %}
        {% set BUTTON_TARGET = '' %}
        {% if BUTTON_TYPE == 'FILE' %}

            {% set LINK_TYPE = MODULE.button_file %}
            {% set BUTTON_TARGET = '_blank' %}

        {% elseif BUTTON_TYPE == 'PAGE' %}
            
            {% set LINK_TYPE = MODULE.button_page %}

        {% elseif BUTTON_TYPE == 'EXTERNAL' %}

            {% set LINK_TYPE = MODULE.button_link %}
            {% set BUTTON_TARGET = '_blank' %}

        {% endif %}
        
        <section class="grid-container text-center">
            <div class="grid-x grid-margin-x">
                <div class="cell button-block">
                    <a href="{{ LINK_TYPE['url'] }}" class="button" target="{{ BUTTON_TARGET }}">
                        {{ BUTTON_TEXT }}
                    </a>
                </div>
            </div>
        </section>

    {# block #}
    {% elseif MODULE.acf_fc_layout == 'basic_centered_image' %} 

    {% endif %}


{% endfor %}

