{% set HEADER_IMAGE = TimberImage(post.get_field('image_header')) %}
{% set POST_TITLE = post.title %}
{% set POST_DATE = post.date %}

{% set INTRO_CLASS %}
{% if HEADER_IMAGE is empty %}grid-container--no-header{% endif %}
{% endset %}

<section class="header-section">
    

    {% if HEADER_IMAGE.src %}
        <div class="grid-container grid-container--header-img">
            <img src="{{ HEADER_IMAGE.src }}" alt="{{ HEADER_IMAGE.alt }}">
        </div>
    {% endif %}

    <div class="grid-container grid-container--intro {{ INTRO_CLASS }}">

        <div class="grid-x grid-margin-x">

            <div class="cell">
                <ul class="post-terms">
                    {% for term in post.terms() %}
                        <li>
                            {{term.name}}{% if not loop.last %}, {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="cell">
                <h1 class="post-title">
                    {{ POST_TITLE }}
                </h1>

                <h2 class="post-date">
                    {{ POST_DATE }}
                </h2>
            </div>
        
        </div>

    </div>
    

</section>