<section class="home-layout__popular-recipes">
    
    <div class="grid-container">
    
        <div class="grid-x grid-margin-x align-center" data-equalizer="recipe" data-equalize-on="medium">

            <div class="cell small-12 cell--title">
                <h2 class="section-title">
                    {% autoescape %}
                        most popular recipes
                    {% endautoescape %}
                </h2>
            </div>

            {% for recipe in RMH_POPULAR_POSTS %}    

                {# content #}
                {% include 'partials/recipe-preview.twig' %}

            {% endfor %}

        </div>

    </div>

</section>