<section class="grid-container grid-container--related-content">

    <div class="grid-x grid-margin-x">
            <div class="cell top small-12">
                <h2 class="meta-title">
                    {% autoescape %}
                        Related Posts
                    {% endautoescape %}
                </h2> 
            </div>
        {% for featuredPost in fancySquaresRelatedPosts %}
            {% set IMG = TimberImage(featuredPost.get_field('image_preview')) %}
            {% set TITLE = featuredPost.title %}
            {% set LINK = featuredPost.link %}
            {% set TAXONOMY = featuredPost.terms('category') | first %}
            <div class="cell small-12 medium-4">

                    {% if TAXONOMY == 'Food Farmacy Guides' %}
                        
                        <div class="content-preview content-preview--peach">
                            
                            <span class="taxonomy">
                                {{ TAXONOMY }}
                            </span>

                            <h2 class="title">
                                <a href="{{ LINK }}">
                                    {{ TITLE }}
                                </a>
                            </h2>

                        </div>

                    {% else %}
                        <a href="{{ LINK }}">
                            <img class="wait-for-me" src="{{ IMG.src | resize(416,411) }}" alt="{{ IMG.alt }}">
                        </a>
                        
                        {# content #}
                        {% include 'partials/home/latest-posts__content.twig' %}
                    {% endif %}
                    

                </div>

        {% endfor %}

    </div>

</section>