.no-js {
    @include breakpoint(small only) {
        .top-bar {
            display: none;
        }
    }

    @include breakpoint(medium) {
        .title-bar {
            display: none;
        }
    }
}

.header {
    @media print {
        display: none;
    }
    &__title-bar-title {
        @extend .title-bar-title;
    }

    &__title-bar {
        position: relative;
        z-index: 1;
        .grid-container {
            position: relative;
        }
        .z-index {
            position: relative;
            z-index: 0;
        }
    }

    &__top-bar {
        padding-top: 30px;
        background-color: transparent;
        @include breakpoint(medium){
            padding-top: 75px;
        }
        @include breakpoint(large){
            padding-top: 150px;
        }
        ul {
            background-color: transparent;
        }
    }

    &__top-bar-left {
        @extend .top-bar-left;
    }

    &__top-bar-right {
        @extend .top-bar-right;
    }

    &__dropdown-menu {
        @extend .menu;
        @extend .dropdown;
        li {
            width: 100%;
            margin-top: 20px;
            @include breakpoint(small only){
                min-height: 10vh;
            }
            &:first-child {
                margin-top: 0;
            }
        }
        a {
            @extend %font-h2;
            @include SAOL_DISPLAY_REGULAR;
            padding:0;
        }
    }

    .menu-icon {
        &:after {
            background: $black;
            box-shadow: 0 7px 0 $black, 0 14px 0 $black;
        }
        .close-img {
            display: none;
            max-width: 10px;;
        }
        &--open {
            &:after {
                display: none;
            }
            .close-img {
                display: inline-block;
            }
        }
    }

    .search {
        cursor: pointer;    
    }

    &--main {
        background-color: $white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9;
        padding: 15px 0 17px;
        transition: padding .25s ease-out, background-color .25s ease-out, border-bottom .25s ease-out;
        border-bottom: 1px solid $black;
        @include breakpoint(medium){
            padding: 25px 0 27px;
        }
        .home & {
            @include breakpoint(medium){
                background-color: transparent;
                border-bottom: 1px solid transparent;
            }
        }

        .single-db_location &,
        .page-template-tmpl-guide & {
            background-color: $mid-tan;
        }
    }

    &--bg-color {
        .home & {
            background-color: $white;
            border-bottom: 1px solid $black;
            .logo-sub {
                display: inline-block !important;
            }
            .logo-home {
                display: none !important;
            }
        }
        
    }
    
    &--is-open {
        background-color: $mid-tan !important;
        border-bottom: none !important;
        height: 100vh;
        @include breakpoint(medium){
            min-height: 50vh;
            height: auto;
        }
        &:after {
            content:'';
            min-height:inherit;
        }
        .logo-home {
            display: none !important;
        }
        .logo-sub {
            display: inline-block !important;
        }
    }

    &--search-bar {
        .header__title-bar {
            &:before {
                background: $white;
                content:'';
                height: 81px;
                position: absolute;
                width: 100%;
                top: -26px;
                left: 0;
                display: block;
            }
        }
    }


    .logo-home {
        display: none;
        .home & {
            @include breakpoint(medium){
                display: inline-block;
            }
        }
    }

    .logo-sub {
        width: 100%;
        max-width: 230px;
        .home & {
            @include breakpoint(medium){
                display: none;
            }
        }
    }

    .cell--post-preview {
        text-align: center;
    }
}