main {
    position: relative;
    z-index: 0;
}

.grid-x {
    &--nested,
    &--fullwidth {
        min-width: 100%;
    }
}

.content-preview {
    position: relative;
    margin: 0 auto;
    @include breakpoint(medium){
        background-color: $white;
        padding: 20px;
        max-width: 295px;
        width: 100%;
        z-index: 1;
        margin: -50px auto 0;
    }
    .title {
        line-height: 0;
        margin: 0;
        a {
            @extend %font-preview-title;
        }
    }
    .taxonomy {
        @extend %font-meta-title-large;
        display: block;
        margin-bottom: 15px;
    }
    .arrow {
        max-width: 10px;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    &--peach {
        background-color: $light-tan;
        bottom: 0;
        max-width: 100%;
        left: 0;
        padding: 30px;
        margin: auto;
        @include breakpoint(large){
            padding: 50px;
        }
        .title {
            a {
                @extend %font-h1;
                @include breakpoint(large){
                    font-size: rem-calc(57);
                    line-height: rem-calc(63);
                }
            }
        }
    }
}

.cell {

    &--post-preview {
        @include link-transition;
        background-color: $light-tan;
        max-width: 340px;
        margin-bottom: 30px;
        @include breakpoint(medium){
            max-width: 100%;
        }
        &:hover {
            background-color: $dark-green;
            a,p {
                color: $light-tan;
            }
        }

        .link-img {
            display: block;
            padding-bottom: 20px;
        }

        .title {
            @include preview-title;
            display: block;
            margin: 0 auto 15px;
            padding: 0 15px;
            text-decoration: none;
            @include breakpoint(large){
                padding: 0 25px;
            }
        }

        .total-time {
            @include link-transition;
            @extend %font-meta-title;
        }
    }
}

.page {

    &.page-template-tmpl-guide {
        background-color: $mid-tan;
    }
}

.search-layout {
    padding-bottom: 75px;
    padding-top: 125px;
    @include breakpoint(medium){
        padding-top: 175px;
    }
    &__no-results {
        margin-bottom: 150px;
    }
    .entry-title {
        a {
            @extend %font-h2;
        }
    }
    article {
        margin-top: 75px;
        &:first-child {
            margin-top: 0;
        }
    }
}