.single-layout {
    h1,
    h2,
    h3 {
        color: $dark-green;
    }

    .home-layout__popular-recipes {
        @include breakpoint(medium){
            margin-bottom: 150px
        }
        @include breakpoint(large){
            margin-bottom: 200px;
        }
    }

    .cell {
        &--share {
            border-bottom: 1px solid $black;
            margin-bottom: 30px;
            padding-bottom: 30px;
        }
        
        &--sources {
            .sources-title {
                @extend %font-meta-title;
                display: inline;
            }
            ol {
                margin: 0;
                counter-reset: section;                
                list-style-type: none;
            }
            li {
                display: inline;
                font-size: 11px;
                position: relative;
                padding-left: 30px;
                &:before {
                    @extend %font-meta-title;
                    counter-increment: section;                 /* Increment the value of section counter by 1 */
                    content: counter(section);
                }
                &:after {
                    background-color: $black;
                    content:'';
                    width: 28px;
                    height: 1px;
                    position: absolute;
                    display: block;
                    left: 1px;
                    top: 0;
                    transform: translate(0, 6px);
                }
            }
        }
    }

    &__pagination {
        margin-bottom: 150px;
        overflow: hidden;

        @include breakpoint(small only){
            padding: 0 30px;
        }
        
        &--recipe {
            margin-bottom: 50px;
            @include breakpoint(medium){
                margin-bottom: 100px;
            }
            @include breakpoint(large){
                margin-bottom: 200px;
            }
            
        }

        .cell {
            &--post-title {
                padding: 30px;
                text-align: center;
            }
        }

        .pagination-link {
            background-color: $white;
            transition: background-color .25s ease-out;
            &:hover {
                background-color: $dark-green;
                .basic-title,
                .title {
                    color: $white;
                }
            }

            &--recipe {
                background-color: $slider-tan;
            }
        }


        .basic-title,
        .title {
            transition: color .25s ease-out;
        }
        .basic-title {
            @extend %font-meta-title-large;
            margin-bottom: 10px;
            display: block;
        }

        .title {
            @extend %font-preview-title;
        }

        .shrink {
            max-width: 300px;
            @include breakpoint(small only){
                max-width: 100%;
                width: 100%;
                margin-left:0;
                margin-right: 0;
                &:first-child {
                    margin-bottom: 30px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            @include breakpoint(large){
                min-width: 450px;
                max-width: 450px;
            }
        }
    }

    .addtoany_shortcode {
        .a2a_svg {
            svg {
                background: $white;
                path {
                    fill: $black !important;
                }
            }
        }
        .addtoany_list {
            &:before {
                @extend %font-meta-title;
                content: 'share this post';
                display: inline;
                vertical-align: middle;
            }
        }

    }
    .comment-hint {
        @extend %font-meta-title;
    }

    .source-misc {
        padding-top: 100px;
        margin-bottom: 50px;
        @include breakpoint(medium){
            margin-bottom: 100px;
        }
        @include breakpoint(large){
            margin-bottom: 200px;
        }
    }

}


.single {

    &.single-db_location {
        
        background-color: $mid-tan;
        
    }

}
