.single-layout {
    // location post type
    &--location {

        // article
        article {
            max-width: 830px;
            padding-top: 175px;
            padding-bottom: 200px;
        }
        
            // header in article
            header {
                text-align: center;
                margin-bottom: 30px;
            }
                // items in header
                .sub-title {
                    @extend %font-meta-title-large;
                    color: $dark-green;
                    display: block;
                    margin-bottom: 30px;
                }
                .entry-title {
                    @extend %font-massive;
                    text-align: center;
                    margin-bottom: 75px;
                }
                .address {
                    @extend %font-meta-title-large;
                    color: $dark-green;
                    .fa,span {
                        display: inline-block;
                        vertical-align: middle
                    }
                    .fa {
                        font-size: 50px;
                    }
                    span {
                        text-decoration: underline;
                        max-width: 80%;
                        margin-left: 5%;
                        text-align: left;
                    }
                }
                .diet-types {
                    @extend %font-meta-title-large;
                    color: $dark-green;
                }
        //entry content
        .grid-x {
            
            &--entry-content {
                margin-bottom: 75px;
            }
        }

        .cell {
            &--featured-img {
                padding-bottom: 50px;
            }

            &--intro {
                margin-bottom: 40px;
                h2 {
                    @extend %font-h2;
                }
                p {
                    &:first-letter {
                        // @extend %font-h2;
                    }
                }
            }
            
            &--images {
                margin-bottom: 20px;
            }
            
            &--content-block {
                margin-bottom: 30px;
                @include breakpoint(large){
                    margin-bottom: 75px;
                }
            }

            &--basic-content {
                h2 {
                    @extend %font-h2;
                    margin-bottom: 30px;
                }
                h3 {
                    @extend %font-meta-title-large
                }
                p {
                    margin-bottom: 30px;
                }
            }

            &--bg-img {
                background-size: cover;
                background-position: center;
                @include breakpoint(small only){
                    @include aspect-ratio(16,9)
                }
            }

            .img-list {
                margin: 0;
                li {
                    list-style: none;
                    display: block;
                    margin-bottom: 30px;
                }
            }
        }

    }
}