.single-layout {
    
    &--post {
        
        // sections
        .header-section {
            padding-bottom: 50px;
            @include breakpoint(medium){
                padding-bottom: 75px;
            }
        }

        // containers
        .grid-container {
            // header
            &--header-img {
                max-width: 1500px;
                margin-top: 81px;
                height: 450px;
                position: relative;
                overflow: hidden;
                margin-bottom: 50px;
                height: 300px;
                @include breakpoint(medium){
                    margin-bottom: 75px;
                    height: 400px;
                }
                @include breakpoint(large){
                    margin-bottom: 100px;
                    height: 450px;
                }
                img {
                    @include centerer;
                    min-width: 755px;
                    @include breakpoint(medium){
                        min-width: 1024px;
                    }
                    @include breakpoint(large){
                        min-width: 1470px;
                    }
                }
            }

            &--no-header {
                padding-top: 150px;
            }

            // intro
            &--intro{
                max-width: 700px;
            }

            // basic
            &--basic {
                max-width: 540px;
                margin-bottom: 50px;
                @include breakpoint(medium){
                    margin-bottom: 60px;
                }
            }

            // center image
            &--centered-img {
                max-width: 845px;
                margin-bottom: 50px;
                @include breakpoint(medium){
                    margin-bottom: 80px;
                }
            }
            
            // three column
            &--three-column {
                max-width: 1030px;
                margin-bottom: 50px;
                @include breakpoint(medium){
                    margin-bottom: 80px;
                }
            }

            // two column
            &--two-column {
                max-width: 845px;
                margin-bottom: 50px;
                @include breakpoint(medium){
                    margin-bottom: 80px;
                }
            }

            // image left & right
            &--short {
                max-width: 900px;
                margin-bottom: 50px;
                @include breakpoint(medium){
                    margin-bottom: 80px;
                }
            }

            &--related-content {
                max-width: 905px;
                margin-bottom: 50px;
                .medium-4 {
                    margin-bottom: 30px;
                    @include breakpoint(small only){
                        max-width: 400px;
                        margin: 0 auto 30px
                    }
                }
                .arrow {
                    display: none;
                }
                h2 {
                    text-decoration: none;
                }
                @include breakpoint(medium){
                    margin-bottom: 150px;
                }
                .top {
                    padding-bottom: 50px;
                }
                .meta-title {
                    @extend %font-meta-title;
                    text-align: center;
                    color: $black;
                    text-decoration: none;
                }
                .content-preview {
                    padding-top: 15px;
                    @include breakpoint(medium){
                        max-width: 85%;
                        padding: 15px 30px;
                    }
                }
            }
        }

        // cells
        .cell {
            &--split-content {
                @include breakpoint(medium){
                    -webkit-column-count: 2; /* Chrome, Safari, Opera */
                    -moz-column-count: 2; /* Firefox */
                    column-count: 2;
        
                    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
                    -moz-column-gap: 30px; /* Firefox */
                    column-gap: 30px;
                }
            }

            &--with-img {
                p {
                    position: relative;
                }
                img {
                    @include breakpoint(medium){
                        position: absolute;
                        min-width: 350px;
                        right: 0;
                        top: 0;
                    }
                    @include breakpoint(large){
                        min-width: 475px;
                    }
                }
            }
        }

        .post-terms {
            margin: 0 0 30px;
            text-align: center;
            li {
                @extend %font-meta-title;
                list-style: none;
                display: inline-block;
            }
        }

        .post-title {
            @extend %font-recipe-title;
            text-align: center;
            color: $black;
            margin-bottom: 50px;
        }

        .post-date {
            @extend %font-meta-title;
            color: $black;
            text-align: center;
        }

        h2 {
            @extend %font-preview-title;
            text-decoration: underline;
            color: $black;
        }

        h3 {
            @extend %font-meta-title-large;
            color: $black;
        }

        figcaption {
            @extend %font-meta-title-large;
            text-transform: none;
        }

        blockquote {
            border: none;
            padding: 0;
            p {
                @extend %font-block-quote;
                margin: 0;
            }
        }

        hr {
            border-bottom: 1px solid $black;
        }
    }
}