.single-layout {
    // recipe
    &--recipe { 

        > section {
            @media print {
                display: none;
            }
        }

        // sections
        .intro-section {
            max-width: 1350px;
            padding-top: 81px;   
            margin-bottom: 100px;
            @include breakpoint(small only){
                margin-bottom: 40px;
            }
        }

        .description-section {
            max-width: 875px;
            margin-bottom: 75px;
            @include breakpoint(medium){
                margin-bottom: 125px;
            }
            @include breakpoint(large){
                margin-bottom: 175px
            }
            .owl-dots {
                position: absolute;
                right: -50px;
                bottom: -95px;
            }
            .owl-prev {
                display: none;
            }
            .owl-next {
                background-image: url(../images/description-right-arrow.png) !important;
                background-repeat: no-repeat !important;
                background-size: contain !important;
                background-position: center !important;
                height: 32px;
                width: 32px;
                position: absolute;
                right: -68px;
                bottom: 0;
                top: -25px;
                margin: auto;
                transition: opacity .25s ease-out;
                &:hover {
                    background-color: transparent;
                    opacity: .7;
                }
                span {
                    color: transparent;
                }
            }
        }

        .directions-section {
            max-width: 730px;
            margin-bottom: 100px;
        }

        .gallery {
            .grid-container--short {
                max-width: 900px;
            }
        }

        .extra-content {
            max-width: 730px;
            margin-bottom: 75px;
            h2 {
                @extend %font-meta-title;
                color: $black;
            }
        }

        
        // cells
        .cell {
            &--highlights {
                margin-bottom: 30px;
                @include breakpoint(medium){
                    margin-bottom: 0;
                    padding-right: 30px;
                }
                .background {
                    background-color: $slider-tan;
                    padding: 50px;
                }
                strong {
                    @extend %font-preview-title;
                }
            }
            
            &--description {
                padding:0;
                @include breakpoint(medium){
                    padding-left: 30px;
                }

                .description {
                    margin-bottom: 30px;
                }
            }

            &--directions {
                h2 {
                    @extend %font-preview-title;
                    margin-bottom: 0;
                }
                ul,
                p {
                    margin-bottom: 25px;
                }
            }

            &--print {
                text-align: center;
                padding-top: 75px;  
            }
            
        }

        .print-recipe-layout {
            display: none;
            border: none;
            th,tr,tbody,thead {
                border:none;
            }
            td {
                vertical-align: top;
            }
            .title {
                font-family: 'Times New Roman', Times, serif;
                font-size: 30px;
            }
            .sub-title,
            .time-summary li {
                color: $black;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 11px;
                letter-spacing: 1px;
            }
            .ff-list {
                li {
                    color: $black;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 11px;
                }
            }
            .gray-box {
                background-color: #f2f2f2;
                padding: 15px;
            }
            .top-border {
                border-top: 1px solid lightgray;
                width: 100%;
            }
            @media print {
                display: block;
            
            }
        }

        // elements
        .page-title {
            @extend %font-recipe-title;
            max-width: 450px;
            width: 100%;
        }

        .time-summary {
            margin: 45px 0 0;
            @include breakpoint(small only){
                margin-bottom: 30px;
            }
            li {
                @extend %font-meta-title;
                margin-top: 5px;
                list-style: none;
                &:first-child {
                    margin-top: 0;
                }
            }
            span {
                &:after {
                    background: $black;
                    content: '';
                    width: 20px;
                    height: 2px;
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 5px;
                    transform: translate(0,-2px);
                }
            }
        }

        .highlights-title {
            @extend %font-meta-title;
            color: $black;
            margin-bottom: 30px;
        }

        .ff-title,
        .directions-title {
            @extend %font-meta-title;
            color: $black;
        }

        .image-block {
            margin-bottom: 75px;
        }
        
    
        
    }
}